body {
  width: 800px;
  height: 400px;
  /*get fonts*/
  font-family: 'futura-pt', 'Helvetica Neue', 'Helvetica', 'Arial';
}

.wrapper {
  position: relative;
  width: 800px;
  height: 400px;
  text-align: center;
}
.hostile .legislator-image {
  position: absolute;
  top: 10px;
  right: 10px;
}
.help .legislator-image,
.thank-you .legislator-image {
  position: absolute;
  top: 30px;
  left: 30px;
}
.hostile .legislator-image .image-wrapper {
  border: 3px solid rgb( 255, 255, 255 );
  border-radius: 5px;
  box-shadow: 0px 4px 5px 0px rgb( 255, 255, 255 );
  -ms-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  transform: rotate(5deg);
  z-index: 47;
}
.help .legislator-image .image-wrapper {
  border: 3px solid rgb( 0, 0, 0 ) ;
  border-radius: 5px;
  box-shadow: 0px 4px 5px 0px rgb( 0, 0, 0 );
  left: 30px;
  top: 30px;
  width: 264px;
  height: 294px;
  z-index: 47;
}
.thanks .legislator-image .image-wrapper {
  border: 3px solid rgb( 255, 255, 255 ) ;
  border-radius: 5px;
  box-shadow: 0px 4px 5px 0px rgb( 255, 255, 255 );
  left: 30px;
  top: 30px;
  width: 264px;
  height: 294px;
  z-index: 47;
}
.help .legislator-image .image-overlay,
.thanks .legislator-image .image-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
}
.hostile .legislator-image .image-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
}
.help .content-wrapper,
.thanks .content-wrapper {
  position: absolute;
  width: 535px
  left: 0;
}
.hostile .content-wrapper {
  position: absolute;
  width: 535px
  right: 0;
}

.content {
  position: relative;
  width: 440px;
}
.dear {
  position: absolute;
  width: 100%;
  font-size: 1em;
}
.help .map-pin,
.hostile .map-pin {
  position: absolute;
  left: 712.778px;
  top: 146.229px;
}
.thanks .map-pin {
  position: absolute;
  left: 513.304px;
  top: 256.931px;
}
.city-state {
  position: absolute;
  width: 100%;
  font-size: 1em;
}
.user-info {
  position: absolute;
  width: 100%;
}
.hostile .avatar-wrapper {
  position: relative;
  border: 3px solid rgb( 255, 255, 255 );
  border-radius: 5px;
  box-shadow: 0px 4px 5px 0px rgb( 255, 255, 255 );
  -ms-transform: rotate(5.5deg);
  -webkit-transform: rotate(5.5deg);
  transform: rotate(-5.5deg);
}
.help .avatar-wrapper {
  position: relative;
  border: 3px solid rgb( 0, 0, 0 );
  border-radius: 5px;
  box-shadow: 0px 4px 5px 0px rgb( 0, 0, 0 );
}
.thanks .avatar-wrapper {
  position: relative;
  border: 3px solid rgb( 255, 255, 255 );
  border-radius: 5px;
  box-shadow: 0px 4px 5px 0px rgb( 255, 255, 255 );
}
.signature {
  font-size: 0.7em;
}
.sitelink-text {
  font-size: 0.7em;
}









