body {
  width: 800px;
  height: 400px;
  /*get fonts*/
  font-family: 'futura-pt', 'Helvetica Neue', 'Helvetica', 'Arial';
}
body.hostile {
  background: url(./images/hostile.jpg) top left no-repeat;
}
body.help {
  background: url(./images/help.jpg) top left no-repeat;
}
body.thanks {
  background: url(./images/thanks.jpg) top left no-repeat;
}

.wrapper {
  position: relative;
  width: 800px;
  height: 400px;
  text-align: center;
}
.hostile .legislator-image {
  position: absolute;
  right: 0;
  width: 320px;
  height: 100%;
}
.help .legislator-image,
.thank-you .legislator-image {
  position: absolute;
  left: 0;
  width: 320px;
  height: 100%;
}
.hostile .legislator-image .image-wrapper {
  position: absolute;
  background: url(./images/hostile_legislator.png) top left no-repeat;
  background-color: rgb( 220, 44, 1 );
  border: 3px solid rgb( 255, 255, 255 );
  border-radius: 5px;
  box-shadow: 0px 4px 5px 0px rgb( 255, 255, 255 );
  -ms-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  transform: rotate(5deg);
}
.help .legislator-image .image-wrapper {
  position: absolute;
  background: url(./images/help_legislator.png) top left no-repeat;
  background-color: rgb( 255, 197, 0 );
  border: 3px solid rgb( 0, 0, 0 ) ;
  border-radius: 5px;
  box-shadow: 0px 4px 5px 0px rgb( 0, 0, 0 );
  left: 30px;
  top: 30px;
  width: 264px;
  height: 294px;
}
.thanks .legislator-image .image-wrapper {
  position: absolute;
  background: url(./images/thanks_legislator.png) top left no-repeat;
  background-color: rgb( 19, 100, 49 );
  border: 3px solid rgb( 255, 255, 255 ) ;
  border-radius: 5px;
  box-shadow: 0px 4px 5px 0px rgb( 255, 255, 255 );
  left: 30px;
  top: 30px;
  width: 264px;
  height: 294px;
}
.hostile .legislator-image .image-overlay {
  background: url(./images/hostile_gradesign.png) top left no-repeat;
  position: absolute;
  width: 199px;
  height: 192px;
  bottom: 0;
  right: 0;
  width: 199;
  height: 192;
  z-index: 10;
}
.help .legislator-image .image-overlay {
  background: url(./images/help_gradesign.png) top left no-repeat;
  position: absolute;
  width: 199px;
  height: 192px;
  bottom: 0;
  left: 0;
  z-index: 10;
}
.thanks .legislator-image .image-overlay {
  background: url(./images/thanks_gradesign.png) top left no-repeat;
  position: absolute;
  width: 199px;
  height: 192px;
  bottom: 0;
  left: 0;
  z-index: 10;
}
.image-overlay img.grade {

}
.help .content-wrapper,
.thanks .content-wrapper {
  position: absolute;
  width: 500px;
  height: 100%;
  right: 0;
}
.hostile .content-wrapper {
  position: absolute;
  width: 500px;
  height: 100%;
  left: 0;
}

.content {
  position: relative;
  margin: 0 30px;
  height: 350px;
  width: 430px;
}
.dear {
  position: absolute;
  font-size: 1em;
  width: 100%;
  top: 50px;
}
.help .map-pin,
.hostile .map-pin {
  position: absolute;
  left: 385px;
  top: 105px;
}
.thanks .map-pin {
  position: absolute;
  left: 400px;
  top: 120px;
}
.city-state {
  position: absolute;
  font-size: 1em;
  width: 100%;
  top: 160px;
}
.user-info-wrapper {
  position: absolute;
  width: 100%;
  height: 100px;
  top: 250px;
}
.user-info {
  margin: auto;
}
.hostile .avatar-wrapper {
  background: url(./images/hostile_avatar.png) top left no-repeat;
  position: relative;
  border: 3px solid rgb( 255, 255, 255 );
  border-radius: 5px;
  box-shadow: 0px 4px 5px 0px rgb( 255, 255, 255 );
  -ms-transform: rotate(5.5deg);
  -webkit-transform: rotate(5.5deg);
  transform: rotate(-5.5deg);
}
.help .avatar-wrapper {
  background: url(./images/help_avatar.png) top left no-repeat;
  position: relative;
  border: 3px solid rgb( 0, 0, 0 );
  border-radius: 5px;
  box-shadow: 0px 4px 5px 0px rgb( 0, 0, 0 );
}
.thanks .avatar-wrapper {
  background: url(./images/thanks_avatar.png) top left no-repeat;
  position: relative;
  border: 3px solid rgb( 255, 255, 255 );
  border-radius: 5px;
  box-shadow: 0px 4px 5px 0px rgb( 255, 255, 255 );
}
.signature {
  position: absolute;
  width: 100%;
  text-align: left;
  font-size: 1em;
}
.sitelink-text {
  position: absolute;
  font-size: 1em;
  bottom: 0;
  margin: 0 30px 15px 30px;
}























